#leftSide {
    position: absolute;
    z-index: 0;
    left: -130px;
}

#rightSide {
    position: absolute;
    z-index: 0;
    left: 330px;
}

.jumbotron-qr {
    padding: 10px;
}

@media print {
    body * {
        visibility: hidden;
    }
    #div-print,
    #div-print * {
        visibility: visible;
    }
    #div-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}

#div-print img {
    position: absolute;
    border-style: solid;
    width: 344px;
    height: 150px;
    z-index: 1;
}

#div-print p {
    position: absolute;
    font-style: italic;
    z-index: 2;
    font-size: 150%
}

#div-print div {
    position: absolute;
    z-index: 2;
}

.footer-qr {}