#leftSide {
    position: absolute;
    left: 280px;
    z-index: 0;
    top: 10px;
}

#rightSide {
    position: absolute;
    z-index: 0;
    left: 600px;
    top: 10px;
}

.jumbotron-qr {
    padding: 10px;
}

@media print {
    body * {
        visibility: hidden;
    }
    #div-print,
    #div-print * {
        visibility: visible;
    }
    #div-print {
        position: absolute;
        left: -175px;
        top: -75px;
    }
}

#div-print img {
    position: absolute;
    border-style: solid;
    z-index: 1;
}

#div-print p {
    position: absolute;
    font-style: italic;
    font-weight: bold;
    z-index: 2;
    max-width: 80px;
    max-height: 10px;
}

#div-print div {
    position: absolute;
    z-index: 2;
}

.row-content-qr {
    min-height: 1000px;
}